.hero {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
}

span {
  color: #fe3361;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 50rem;
  gap: 5rem;
  padding-top: 3rem;
  max-width: 60rem;
}

.headline h1 {
  display: flex;
  justify-content: left;
  padding-left: 3.5rem;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 800;
}

.headline p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.hero_img {
  width: 50%;
  border-radius: 6px;
}

.hero_links {
  display: flex;
  gap: 2rem;
}

.hero_links .first {
  background-image: linear-gradient(
    to right,
    #661427 0%,
    #e52e57 51%,
    #661427 100%
  );
  font-weight: 600;
  text-decoration: none;
  font-size: 2.2rem;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.hero_links .first:hover {
  background-position: right center; /* change the direction of the change here */

  color: #0a1627;
  text-decoration: none;
  box-shadow: 0 0rem 1rem 0rem #fe3361;
  transition: 250ms;
}

.hero_links .second {
  background-image: linear-gradient(
    to right,
    #661427 0%,
    #fdae00ff 51%,
    #661427 100%
  );
  font-weight: 600;
  text-decoration: none;
  font-size: 2.2rem;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.second:hover {
  background-position: right center; /* change the direction of the change here */
  color: #0a1627;
  text-decoration: none;
  box-shadow: 0 0rem 1rem 0rem #e08000ff;
  transition: 250ms;
}
