.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3rem;
}

.header nav {
  display: flex;
  list-style: none;
  font-size: 2rem;
  gap: 2rem;
  justify-content: space-around;
}

img {
  width: 18rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: #fe3361;
  transition: 300ms;
}

.tryforfree {
  color: #fe3361;
}
