@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #091423;
  color: white;
}

.color {
  --honey-yellow: #fdae00ff;
  --maximum-yellow-red: #fabe55ff;
  --blue-sapphire: #256483ff;
  --charcoal: #304351ff;
  --fulvous: #e08000ff;
  --gunmetal: #142c38ff;
}

/** Section Headers **/
.small {
  color: #e52e57;
  font-weight: 700;
  letter-spacing: 0.4rem;
  font-size: 1.8rem;
  padding: 8rem 2rem 0.8rem 2rem;
}

.big {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  padding: 1rem 1rem 10rem 1rem;
}

/** Grid **/

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  place-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  border-radius: 8px;
  background-color: #091423;
  box-shadow: 0 0 1rem 0rem black;
  margin-bottom: 5rem;
  padding-bottom: 1.5rem;
}
